* {
    font-family: Mochiy pop uno, sans-serif;
    col or : white;
}

h1 {
    color:black;
    text-shadow: 4px 5px 6px;
    
}

h2 {
    color:darkgreen;
    text-shadow: 4px 5px 6px;
    
}

h3 {
    color: blue;
    text-shadow: 3px 4px 5px;
}

* {
    background- image:url(./img/1200px-Color_negro.webp) ;


}

.container {
    float: right;
}

.left {
    float: left;
}

.right {
    float: right ;
}

body {
    margin: 1rem 0; 

}

h1 {
    background-color: #364552;
    font-size: 4rem;
    padding: 2rem 0;
}