* {
    font-family: Mochiy pop uno, sans-serif;
    col or : white;
    margin: ;
}

h1 {
    color:darkred;
    text-shadow: 4px 5px 6px;
    margin: 0%;
    border: 0%;
    
}

h2 {
    color:darkgreen;
    text-shadow: 4px 5px 6px;
    
}

h3 {
    color: blue;
    text-shadow: 3px 4px 5px;
}

* {
    background- image:url(./img/1200px-Color_negro.webp) ;


}

.container {
    float: right;
}

.left {
    float: left;
}

.right {
    float: right ;
}

body {
    margin: 1rem 0; 

}

h1 {
    background-color: #101418;
    font-size: 2rem;
    padding: 2rem 0;
}

button {
    width: 150px;
    background-color: thistle;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    float: right;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    border: 2px solid rgb(127, 206, 255);
    color: rgb(127, 206, 255);
} 

 {
    border: 2px solid red;
}

.flex-container {
    border: 2px solid black;
}
 
.caja {
    border: 1px solid rgb(87, 84, 84);
    background-color: white;
    color: black;
    font-weight: bold;
    wid th: 300px;
    hei ght: 300px;  
    li ne-height: 120px;
    te xt-align: center;
    mar gin: 5px;
    flo at: left;